@tailwind base;
@tailwind components;
@tailwind utilities;


.hover\:shadow-gradient-to-l:hover {
    box-shadow: 0 4px 6px -1px rgba(171, 64, 244, 0.7), 0 2px 4px -2px rgba(171, 64, 244, 0.7), 0 4px 6px -1px rgba(0, 206, 201, 0.7), 0 2px 4px -2px rgba(0, 206, 201, 0.7);
  }